/* Reset Navegador*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Configurações da Página */
body {
    color: #263138;
}

/* Cabeçalho - Menu */
.menu {
    background-color: #ff9a6c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;

    /* Fixar menu no topo */    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.menu nav a {
    color: #f0f0f0;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}

/* Config - Seção INÍCIO */
#inicio {
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 80px 80px 24px 80px;
        position: relative;
}

h1, h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 64px;
}

.botao {
    background-color: #ff9a6c;
    border-radius: 8px;
    color: #f0f0f0;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente {
    background-color: transparent;
    color: #ff725e;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: -10;
}

/* Config - Seção CLÍNICA */

#clinica {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 24px 80px;
    position: relative;
}

.paragrafo-clinica{ 
    line-height: 150%;
    margin-bottom: 64px;
    /* gap: 200px; */
}

.paragrafo-clinica ul {
    margin-bottom: 50px;
}

.botao-clinica {
    background-color: #ff9a6c;
    border-radius: 8px;
    color: #f0f0f0;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente-clinica {
    background-color: transparent;
    color: #ff725e;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: -11;
}